
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.page-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.search-box {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.search-btn i {
  font-size: 1.2em;
  color: #333;
}


.add-btn {
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
}


.add-btn:hover {
  background-color: #0056b3;
}


.delete-btn {
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.delete-btn:hover {
  background-color: #c82333;
}


p-table {
  width: 100%;
  margin-top: 20px;
}

